//============================================================
//
// Layout SCSS
//
// @description
//   Presentation page global layout CSS
// @version 1.00
//
// @author L.Prandi
//
//============================================================


@mixin grid() {
  max-width: $grid-width + px;
  float: none!important;
  margin: 0 auto;

  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

@mixin grid-column($nb-column, $gutter: true) {
  width: ((100 / $nb-grid-column) * $nb-column) *1%;
  float: left;

  @if $gutter {
    padding-right: $column-gutter + px;
    padding-left: $column-gutter + px;
  }
}

* {
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  -webkit-font-smoothing: antialiased;
  font-family: $poiret-one;
  font-size: 16px;
}

header {
  @include grid();
}

.facebook-examples {
  background-color: #222222;
  padding: 40px 0;

  &__row {
    @include grid();
  }

  .facebook-example {
    @include grid-column(4);

    text-align: center;
  }

  p {
    @include grid-column(12);
  }
}

h1 {
  font-size: 48px;
  margin: 0;
}

p {
  color: #FFFFFF;
}

a {
  text-decoration: underline;
  color: #FFFFFF;

  &:focus, &:hover, &:active {
    color: #FFFFFF;
    outline: 0;
  }
}