//============================================================
//
// Facebook logo SCSS
//
// @description
//   Facebook logo in pure CSS
// @version 1.00
//
// @author L.Prandi
//
//============================================================

$facebook: #3b5998;

.image {
  border-radius: 100%;
  position: relative;
  height: 80px;
  width: 80px;
}

.facebook {
  text-align: center;

  .image {
    background-color: $facebook;
    overflow: hidden;
    cursor: pointer;

    &:hover {

      .facebook {

        &__square-1 {
          left: 50%;
          top: 20px;
        }
        &__square-2 {
          left: 40px;
          top: 20px;
        }

        &__square-3 {
          left: 30px;
          top: 16px;
        }

        &__square-4 {
          transition: all 0s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.25s;
          opacity: 1;
          left: 38px;
          top: 22px;
        }

        &__square-5 {
          left: 30px;
          top: 32px;
        }

        &__square-6 {
          left: 49px;
          top: 33px;
        }

        &__round-1 {
          left: 50%;
          top: 20px;
        }

        &__round-2 {
          left: 43px;
          top: 28px;
        }
      }
    }
  }

  img {
    margin: -20px 0 0 -20px;
    position: absolute;
    height: 40px;
    width: 40px;
    left: 50%;
    top: 50%;
  }


  &__square-1 {
    transition: all 0.25s cubic-bezier(0.860, 0.000, 0.070, 1.000);

    background-color: #FFFFFF;
    position: absolute;
    margin-left: -5px;
    height: 40px;
    width: 8px;
    left: 50%;
    top: 80px;
  }

  &__square-2 {
    transition: all 0.25s cubic-bezier(0.860, 0.000, 0.070, 1.000);

    background-color: #FFFFFF;
    position: absolute;
    width: 10px;
    height: 8px;
    left: 80px;
    top: 20px;
  }

  &__square-3 {
    background-color: $facebook;
    position: absolute;
    height: 16px;
    width: 13px;
    left: 30px;
    top: 16px;
  }

  &__square-4 {
    transition: all 0s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0s;
    background-color: #FFFFFF;
    position: absolute;
    height: 10px;
    width: 10px;
    opacity: 0;
    left: 38px;
    top: 22px;
  }

  &__square-5 {
    transition: all 0.25s cubic-bezier(0.860, 0.000, 0.070, 1.000);

    background-color: #FFFFFF;
    position: absolute;
    height: 8px;
    width: 20px;
    left: -20px;
    top: 32px;
  }

  &__square-6 {
    transform: rotate(10deg) translateZ(0);

    background-color: $facebook;
    position: absolute;
    height: 8px;
    width: 10px;
    left: 49px;
    top: 33px;
  }

  &__round-1 {
    transition: all 0.25s cubic-bezier(0.860, 0.000, 0.070, 1.000);

    background-color: #FFFFFF;
    border-radius: 8px 0 0 0;
    position: absolute;
    margin-left: -5px;
    height: 12px;
    width: 6px;
    top: -20px;
    left: 50%;
  }

  &__round-2 {
    transition: all 0.25s cubic-bezier(0.860, 0.000, 0.070, 1.000);

    background-color: $facebook;
    border-radius: 2px 0 0 0;
    position: absolute;
    height: 4px;
    width: 6px;
    left: 82px;
    top: 28px;
  }
}
